@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 300;
    src: url("../font/Gilroy-Regular.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    src: url("../font/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 500;
    src: url("../font/Gilroy-Semibold.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 600;
    src: url("../font/Gilroy-Bold.ttf");
  }
  @font-face {
    font-family: 'CPS-Icon';
    font-style: normal;
    font-weight: 600;
    src: url("../font/CPS-Icon-Font.ttf");
  }